
.idea/shelf/Uncommitted_changes_before_Update_at_5_7_2023_1_18_PM_\[Changes\]1/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_5_7_2023_1_18_PM_\[Changes\]1/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_5_7_2023_1_18_PM_\[Changes\]1/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_5_7_2023_1_18_PM__Changes_1.xml
.idea/shelf/Uncommitted_changes_before_Update_at_5_7_2023_1_18_PM_\[Changes\]1/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_5_7_2023_1_18_PM_\[Changes\]1/shelved.patch
